{% extends 'common/base.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="{% static 'img/about-1.jpg' %}">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="{% static 'img/about-3.jpg' %}" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="{% static 'img/about-4.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                <p class="mb-4">Our online job portal bridges the gap between job seekers and employers by providing a simple, reliable and efficient recruitment platform. Whether you are searching for your dream job or looking for skilled professionals, we make the hiring process faster and more effective. </p>
                <p><i class="fa fa-check text-primary me-3"></i>Wide Range of Job Opportunities</p>
                <p><i class="fa fa-check text-primary me-3"></i>Easy and Quick Application Process</p>
                <p><i class="fa fa-check text-primary me-3"></i>Connect with Qualified Talent</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>

 
{% endblock %}